* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  overflow-x: hidden;
}

.product__cfc {
  display: flex;
  border-radius: 5px;
  position: absolute;
  bottom: 23%;
  padding: 5px 44px;
  transition: 1s;
  visibility: hidden;
  opacity: 0;
}

.product__card:hover .product__cfc {
  display: flex;
  border-radius: 5px;
  position: absolute;
  bottom: 33%;
  padding: 5px 44px;
  transition: 1s;
  visibility: visible;
  opacity: 1;
}

/* Auto Suggestions start */

.searchPokemon__input {
  appearance: none;
  display: block;
  width: 100%;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  border: 1px solid rgba(229, 231, 235, var(--tw-border-opacity));
  border-radius: 5px;
  padding: 12px 16px;
  line-height: 1.25;
}

.searchPokemon__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-color: rgba(107, 114, 128, var(--tw-border-opacity));
}
#react-autowhatever-1 {
  top: 50px;
  margin: auto;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  border: 1px solid rgba(229, 231, 235, var(--tw-border-opacity));
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

/* Auto Suggestions end */
